<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="row">

      <div class="col-md-4">
        <div class="logo">
          <img src="./images/logo.png">
        </div>

    <div class="home_notificacao">
      <h1> Site em construção </h1>
      </div>
</div>

<div class="col-md-12">
        <div class="redes_sociais">
          <h4> Siga nossas redes sociais</h4>
          <ul>

            <a href="https://www.facebook.com/Innova-Cleaning-234422958009558"><li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,14.33333c-39.5815,0 -71.66667,32.08517 -71.66667,71.66667c0,35.9265 26.4665,65.5965 60.9525,70.778v-51.78633h-17.73033v-18.84117h17.73033v-12.5345c0,-20.75467 10.11217,-29.8635 27.36233,-29.8635c8.26317,0 12.62767,0.60917 14.69883,0.88867v16.44033h-11.76767c-7.32433,0 -9.88283,6.9445 -9.88283,14.7705v10.2985h21.46417l-2.90967,18.84117h-18.54733v51.93683c34.9805,-4.73717 61.963,-34.65083 61.963,-70.9285c0,-39.5815 -32.08517,-71.66667 -71.66667,-71.66667z"></path></g></g></svg></li>
            <a href="https://www.instagram.com/cleaning_innova/"><li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M59.125,17.91667c-22.69544,0 -41.20833,18.5129 -41.20833,41.20833v53.75c0,22.69238 18.51225,41.20833 41.20833,41.20833h53.75c22.69303,0 41.20833,-18.51531 41.20833,-41.20833v-53.75c0,-22.69608 -18.51595,-41.20833 -41.20833,-41.20833zM59.125,28.66667h53.75c16.88195,0 30.45833,13.57292 30.45833,30.45833v53.75c0,16.88131 -13.57703,30.45833 -30.45833,30.45833h-53.75c-16.88542,0 -30.45833,-13.57638 -30.45833,-30.45833v-53.75c0,-16.88606 13.57227,-30.45833 30.45833,-30.45833zM121.83333,43c-3.95958,0 -7.16667,3.20708 -7.16667,7.16667c0,3.95958 3.20708,7.16667 7.16667,7.16667c3.95958,0 7.16667,-3.20708 7.16667,-7.16667c0,-3.95958 -3.20708,-7.16667 -7.16667,-7.16667zM86,50.16667c-19.72561,0 -35.83333,16.10772 -35.83333,35.83333c0,19.72561 16.10772,35.83333 35.83333,35.83333c19.72561,0 35.83333,-16.10772 35.83333,-35.83333c0,-19.72561 -16.10772,-35.83333 -35.83333,-35.83333zM86,60.91667c13.91472,0 25.08333,11.16861 25.08333,25.08333c0,13.91472 -11.16861,25.08333 -25.08333,25.08333c-13.91472,0 -25.08333,-11.16861 -25.08333,-25.08333c0,-13.91472 11.16861,-25.08333 25.08333,-25.08333z"></path></g></g></svg></li>
            <a href="https://api.whatsapp.com/send?phone=5519998081117&text=Ol%C3%A1%2C%20vim%20pelo%20site"><li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
width="50" height="50"
viewBox="0 0 172 172"
style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,6.88c-43.62608,0 -79.12,35.49392 -79.12,79.12c0,13.6224 3.51912,27.01776 10.19272,38.8376l-10.06544,35.9136c-0.33024,1.17992 -0.01032,2.44584 0.8428,3.32304c0.65704,0.67768 1.55144,1.04576 2.46992,1.04576c0.2752,0 0.55384,-0.0344 0.8256,-0.09976l37.48224,-9.28456c11.44488,6.14384 24.33456,9.38432 37.37216,9.38432c43.62608,0 79.12,-35.49392 79.12,-79.12c0,-43.62608 -35.49392,-79.12 -79.12,-79.12zM125.8008,113.91904c-1.69248,4.68528 -9.81088,8.9612 -13.71184,9.53568c-3.50192,0.51256 -7.93264,0.73272 -12.7968,-0.79464c-2.94808,-0.9288 -6.73208,-2.16032 -11.57904,-4.22776c-20.37512,-8.68944 -33.68104,-28.9476 -34.69928,-30.28576c-1.0148,-1.33816 -8.29384,-10.87384 -8.29384,-20.7432c0,-9.86936 5.246,-14.7232 7.11048,-16.73216c1.86448,-2.00896 4.06264,-2.5112 5.418,-2.5112c1.35536,0 2.70728,0.0172 3.89408,0.07224c1.24872,0.06192 2.924,-0.47128 4.57176,3.44344c1.69248,4.01792 5.75512,13.88728 6.25736,14.8952c0.50912,1.00448 0.84624,2.17752 0.172,3.51568c-0.67424,1.33816 -1.01136,2.17408 -2.0296,3.34712c-1.01824,1.17304 -2.1328,2.6144 -3.04784,3.51568c-1.01824,1.00104 -2.07432,2.08464 -0.89096,4.0936c1.18336,2.00896 5.25976,8.57592 11.3004,13.89416c7.7572,6.83184 14.30352,8.95088 16.33312,9.95536c2.0296,1.00448 3.2164,0.83592 4.39976,-0.50224c1.18336,-1.3416 5.07744,-5.85832 6.42936,-7.86384c1.35192,-2.00552 2.70728,-1.67528 4.57176,-1.00448c1.86448,0.66736 11.8508,5.51776 13.8804,6.52224c2.0296,1.00448 3.38496,1.50672 3.89408,2.34264c0.50912,0.83248 0.50912,4.8504 -1.18336,9.53224z"></path></g></g></svg>
</a>
</li>

</ul>
</div>
</div>
<div class="col-md-12">
  <div class="email">
    <h3> atendimento@innovacleaning.com.br</h3>
    <p> AV. Visconde Nova Granada, 743, Jd. Nova Granada, Leme/SP. </p>
    </div>
</div>
</div>
  </body>
</html>
