@charset "UTF-8";

*{
  font-family: sans-serif;
  background-color: #264781
}
.logo{
  display: flex;
  justify-content: center;
  width: 100%;
}
.logo img{
  width: 30%;
}
.home_notificacao{
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  color: white;
  padding-top: 5%
}

.redes_sociais{
  justify-content: center;
  padding-top: 5%
}
.redes_sociais ul{
  display: flex;
  justify-content: center;
  padding-right: 3%
}
.redes_sociais ul li{
  list-style: none;
  display: inline;
}

.redes_sociais h4{
  color: white;
  text-align: center;
}
.laura{
  background: red;
  width: 100%;
  height: 200px;
  color: red;
}
.email{
  color: white;
  text-align: center;
  font-family: sans-serif;
}
